<div class="content" ng-controller="MainCtrl">
  <div class="container row">
    <div class="col-sm-9">
      <article>
        <span class="featured">Новость дня</span>
        <h2>
          <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quod fugit eveniet.</a>
        </h2>
        
        <div class="img text-center">
          <a href="#">
            <img src="/images/image.jpeg" alt="">
          </a>
        </div>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam iusto vero debitis, deleniti error consequuntur soluta quam aut velit dolore reprehenderit fugit quod totam in!</p>
        
        <div class="action clearfix">
          <div class="left-half text-left">
            <a href="#" class="next">Читать далее &#8594;</a>
          </div>
          <div class="right-half text-right">
            <span class="time">1 May 2015</span>
            <span class="comments">
              <a href="#">15</a>
            </span>
          </div>
        </div>
        <div class="tags">
          <a href="#">Lorem.</a>
          <a href="#">Perspiciatis!</a>
          <a href="#">Fugit!</a>
        </div>
      </article>

      <article ng-repeat="post in posts">
        
        <h2>
          <a ui-sref="page({node: post.url})">
            {{post.name}}
          </a>
        </h2>
        
        <div class="img text-center">
          <a ui-sref="page({node: post.url})">
            <img ng-src="/images/image.jpeg" alt="{{post.name}}">
          </a>
        </div>
        
        <p>{{post.description}}</p>
        
        <div class="action clearfix">
          <div class="left-half text-left">
            <a ui-sref="page({node: post.url})" class="next">Читать далее &#8594;</a>
          </div>
          <div class="right-half text-right">
            <span class="time">{{post.created | date: 'd MMMM yyyy'}}</span>
            <span class="comments">
              <a ui-sref="page({node: post.url, comments: 1})">15</a>
            </span>
          </div>
        </div>
        <div class="tags">
          <a ng-repeat="tag in post.tag" href="#">{{tag.name}}</a>
        </div>
      </article>

      <div class="paginator text-center">
        <ul class="pagination">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li class="active"><a href="#">2</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3">
      <div tags></div>
      <div most-comments></div>
    </div>
  </div>
</div>
