<div class="content" ng-controller="MainCtrl">
  <div class="container row">
    <div fitted-pages></div>
    <div class="col-sm-9">

      <article ng-repeat="post in posts">
        
        <h2>
          <a ui-sref="page({node: post.url})" ng-bind-html="post.name">
          </a>
        </h2>
        
        <div class="img text-center">
          <a ui-sref="page({node: post.url})">
            <img ng-src="{{post.img}}" alt="{{post.name}}">
          </a>
        </div>
        
        <p ng-bind-html="post.description | rawHtml"></p>
        
        <div class="action clearfix">
          <div class="left-half text-left">
            <a ui-sref="page({node: post.url})" class="next">Read more &#8594;</a>
          </div>
          <div class="right-half text-right">
            <span class="author">{{post.author.firstname + " " + post.author.lastname}}</span>
            <span class="time">{{post.created | date: 'd.MM.yyyy'}}</span>
            <span class="comments">
              <a ui-sref="page.comments({node: post.url})" data-disqus-identifier="{{post.id}}">0</a>
            </span>
          </div>
        </div>
        <div class="tags">
          <a ng-repeat="tag in post.tag" ui-sref="search({id: tag.id})">{{tag.name}}</a>
        </div>
      </article>

      <div class="paginator text-center" ng-show="count > num">
        <ul class="pagination">
          <li ng-class="{true: 'disabled'}[prevPage === 1]"><a ui-sref="homePage({page: prevPage})">&laquo;</a></li>
          <li ng-repeat="(key, value) in pageCountsArr() track by $index" ng-class="{true: 'active'}[($index+1) === page]">
            <a ui-sref="homePage({page: $index+1})">{{$index+1}}</a>
          </li>
          <li ng-class="{false: 'disabled'}[nextPage === pageCount]"><a ui-sref="homePage({page: nextPage})">&raquo;</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3">
      <div tags></div>
    </div>
  </div>
</div>